@CHARSET "UTF-8";

/* General text above and below game */

.explanation{
	width: 50%;
	margin: auto;
}

p{
	width: 50%;
	text-align: center;
	margin: auto;
}

h1, p, ul{
	font-family: "GeosansLight", sans-serif;
	text-align: center;
}

ul{
	text-align: left;
}




/* Sudo-ku Table */

.guess{
	text-align: center;
}

.hint{
	border: 0px;
	font-weight: bold;
	text-align: center;
}

.sep{
	width: 1px;
	background-color: grey;
	height: 1px;
}

td{
	width: 10px;
	height: 10px;
	border: 1px;
}

table{
	text-align: center;
}




/* Options pane */

#timer{
	resize: none;
	border: 0px;
	width: 25px;
	height: 10px;
}

.options{
	float: left;
	width: 210px;
}

#alert{
	resize: none;
	width: 190px;
	height: 75px;
}

#new{
	background-color: lightgrey;
	margin-left: 55px;
}




/* Both table and options */

.container{
	margin: auto;
	width: 50%;
}

.grid, .options{
	overflow: auto;
	margin: auto;
	width: 49%;
	height: 100%;
	float: left;
}
